* {
    margin: 0px auto;
    padding: 0px;
}

img {
    border: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #666666;
}

.ov {
    overflow: hidden;
}

.cl {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul,
ol,
li {
    list-style-type: none;
}

body {
    background: #F4F3F3;
    color: #666666;
    /*max-width: 640px;*/
    min-width: 320px;
    margin: 0 auto;
}

#page_wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /*max-width: 640px;*/
    min-width: 320px;
    background: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.header {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    height: auto;
    background: #fafafa;
    text-align: center;
}

.header img {
    width: 100%;
    overflow: hidden;
}

.banner {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    height: auto;
}

.banner img {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
}



.slider {
    width: auto;
    overflow: hidden;
}

.flexslider .slides>li {
    display: none;
}

.flexslider .slides img,
.flexslider2 .slides img,
.flexslider3 .slides img {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0px;
}

.no-js .slides>li:first-child {
    display: block;
}

.flexslider,
.flexslider2 {
    position: relative;
}

.flex-direction-nav a {
    width: 22px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flexslider .flex-control-nav {
    width: 60px;
    position: absolute;
    bottom: 1px;
    text-align: center;
    left: 50%;
    margin-left: -30px;
}

.flex-control-paging li a {
    display: block;
    width: 12px;
    height: 0px;
    padding-top: 12px;
    background: url(../images/pagination.png) repeat scroll 0px 0px transparent;
    float: left;
    overflow: hidden;
    cursor: pointer;
}



.jbdh {
    width: 100%;
    height: auto;
    /*max-width: 640px;*/
    min-width: 320px;
    margin-top: 3px;
    text-align: center;
    padding-bottom: 1.5%;
    overflow: hidden;
}

.jbdh ul {
    width: 100%;
    height: auto;
    background: #ececec;
    float: left;
}

.jbdh ul li {
    width: 33%;
    height: auto;
    background: #ececec;
    float: left;
    text-align: center;
    line-height: 35px;
    font-size: 1.1em;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

.jbdh ul li p {
    border-top: 1px solid #FFF;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.jbdh ul li img {
    width: 35%;
}

.jbdh ul li a {
    color: #01826c;
}


/*.line{width:100%; height:4px; background:#018367;}*/

.tjbz {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    padding: 2% 0 2% 0;
}

.tjbz_left {
    width: 36%;
    padding-left: 1%;
}

.tjbz #tj_tsz {
    width: 100%;
}

.tjbz_left .textbg {
    width: 100%;
    height: 30px;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    float: left;
    text-align: center;
    margin-top: -30px;
}

.tjbz_left .textbg a {
    font-size: 0.7em;
    color: #fff;
    line-height: 30px;
}

.tjbz .tjbz_right {
    width: 59%;
    padding-right: 2%;
    height: auto;
}

.tjbz .tjbz_right h3 a {
    color: #fff;
    background: #018367;
    display: block;
    text-align: center;
    line-height: 1.7em;
    font-weight: normal;
}

.tjbz .tjbz_right p.ph {
    text-indent: 2em;
    color: #989898;
    padding: 3% 0;
    margin-bottom: 3%;
    border-bottom: 1px dotted #B2B2B2;
    line-height: 1.5em;
}

.tjbz .tjbz_right p.ph a {
    color: #F00;
}

.tjbz .tjbz_right p.pr a {
    color: #666666;
    line-height: 1.8em;
    padding: 2% 0 0 2%;
}

.box_title {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    height: 45px;
    line-height: 45px;
    font-size: 1em;
    background: #EEF6E9;
    border-bottom: 4px solid #04816f;
}

.box_title div {
    width: 85%;
}

.box_title div a {
    color: #02816c;
}

.box_title div p.tel {
    padding-left: 7%;
    background: url(../images/bt_tel.jpg) no-repeat scroll left center transparent;
}



.zjtd {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
}

.zjtd .zjtd_nr {
    width: 85%;
    padding: 2% 0 2% 0;
}

.zjtd .zjtd_nr ul li {
    float: left;
    text-align: center;
    width: 20%;
    padding-bottom: 3%;
}

.zjtd .zjtd_nr ul li p {
    width: 90%;
    height: 34px;
    font-size: 0.9em;
    background: #dbdbdb;
    line-height: 30px;
}

.zjtd .zjtd_nr ul li p a {
    color: #666666;
}

.zjtd .zjtd_nr .zjtd_txt .zjtd_txt_p {
    width: 100%;
    height: auto;
    line-height: 1.3em;
    padding-bottom: 2%;
    border-bottom: 1px dotted #B2B2B2;
}

.zjtd .zjtd_nr .zjtd_txt .zjtd_txt_p .zjtd_txt_p1 {
    width: 69%;
    float: left;
    padding-left: 1%;
}

.zjtd .zjtd_nr .zjtd_txt .zjtd_txt_p .zjtd_txt_p2 {
    width: 30%;
    float: right;
}

.zjtd .zjtd_nr .zjtd_txt .zjtd_txt_p strong {
    font-size: 1em;
    color: #767676;
    display: block;
    width: 100%;
    line-height: 1.7em;
    font-weight: normal;
    float: left;
}

.zjtd .zjtd_nr .zjtd_txt p {
    color: #767676;
    padding: 2% 0;
    float: left;
    line-height: 1.7em;
}

.zjtd .zjtd_nr .zjtd_txt p a {
    color: #F00;
}

.zjtd .zjtd_nr .zjtd_txt img {
    width: 100%;
}



.jpjs {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    padding: 2% 0 2% 0;
}

.jpjs ul {
    border-bottom: 1px solid #dbdbdb;
    float: left;
    width: 100%
}

.jpjs ul li {
    width: 50%;
    text-align: center;
    float: left;
    padding: 2% 0 2% 0;
}

.jpjs ul li img {
    width: 83%;
}



.xgnzx {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    padding: 2% 0 3% 0;
}

.xgnzx .xgn_img {
    width: 90%;
    text-align: center;
}

.xgnzx .xgn_img img {
    width: 100%;
}

.xgnzx .xgn_txt {
    width: 90%;
    line-height: 2.25em;
    margin-top: 5px;
    border: 1px solid #c6c6c6;
    border-bottom: none;
}

.xgnzx .xgn_txt ul li {
    border-bottom: 1px solid #c6c6c6;
}

.xgnzx .xgn_txt ul li p {
    padding-left: 3%;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.xgnzx .xgn_txt ul li a {
    display: block;
    /*background: url(../images/index_12.jpg) left center no-repeat;*/
    padding-left: 30px;
    color: #666666;
}

.xgnzx .xgn_txt ul li .firstl a {
    display: block;
    /*background: url(../images/index_11.jpg) left center no-repeat;*/
    padding-left: 30px;
    color: #00836b;
}

.xgnzx .xgn_bz {
    width: 90%;
    text-align: center;
    padding: 1% 0 2% 0;
}

.xgnzx .xgn_bz ul {
    float: left;
    width: 100%;
    padding: 2% 0 2% 0;
}

.xgnzx .xgn_bz ul li {
    width: 25%;
    float: left;
    max-height: 30px;
    line-height: 2em;
}

.xgnzx .xgn_bz ul li p {
    width: 90%;
    /*font-size: 0.9em;*/
    max-height: 30px;
    font-size: 10px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

.xgnzx .xgn_bz ul li p a {
    color: #FFF;
    display: block;
    width: 100%;
}

.xgnzx .xgn_bz ul li p a img {
    width: 100%;
}



.footer {
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    padding: 2% 0 4% 0;
    text-align: center;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.footer p {
    line-height: 2em;
    font-size: 0.9em;
    color: #666666;
    padding-bottom: 15px;
}

.footer p a {
    text-decoration: underline;
}

.footer .version {
    padding: .71em 0 5px;
    text-align: center;
}

.footer .version a {
    padding: 0 1.16em;
    color: #6E6E6E;
    font-size: 0.85em;
}

.footer .version a.on {
    color: #E6242B;
}



.jbcx {
    width: 99%;
    height: auto;
    background: #00614B;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 80px;
    _margin-left: -298px;
    _margin-top: 20px;
}

.jbcx font {
    font-size: 12px;
    color: #ffff00;
    font-weight: 600;
}

.jbcx a {
    padding-left: 3px;
    padding-right: 3px;
    color: #FFFFFF;
    font-size: 12px;
}

.jbcx font a {
    color: #ffff00;
}




/*list pdy*/

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.p0 {
    padding: 0 0 1% 0;
}

.p1 {
    padding: 0 0 5% 0;
}

.xgnzx-li,
.xgn-li {
    padding: 0;
}

.xgn_txt .li_red {
    text-align: center;
}

.xgn_txt .li_red .f_red a {
    color: #ff0000;
    font-size: .95em;
    background: none;
    padding: 0;
}

.xgn_bz ul li .bz_p {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 90%;
}

.xgn_bz ul li .bz_p .bz_a {
    color: #666;
}

.xgnzx .tel {
    width: 90%;
    padding: 2% 0
}

.xgnzx .tel ul li {
    width: 48%;
    color: #fff;
    font-size: .85em;
    text-align: center;
    float: left;
    padding: 3% 0 3% 0
}

.xgnzx .tel ul li a {
    color: #fff;
    display: block;
}

.xgnzx .tel ul li img {
    vertical-align: middle;
    margin-right: 5px;
}

.xgnzx .tel ul .li-l {
    background: #f2c769;
    /*background: #0077cc;*/
    /*color: #0077cc;*/
    /*max-height: 80px;*/
    /*margin-left: 11px;*/
    height: 60px;
    /*margin: 0;*/
    padding: 7px 5px;
    font-size: 80%;;
}

.xgnzx .tel ul .li-r {
    /*background: #fba1a1;*/
    /*background: #11a1a1;*/
    background: #00a3bb;
    /*color: #f2c769;*/
    margin-left: 11px;
    /*max-height: 80px;*/
    height: 60px;
    /*margin: 0;*/
    padding: 7px 5px;
    font-size: 80%;
}


/*detail*/

.phone {
    background: #e7efeb;
    height: 40px;
    line-height: 40px;
}

.phone p {
    color: #315141;
    font-size: .85em;
    text-align: center
}

.phone span {
    margin-left: 3%;
}

.phone span a {
    color: #ff6600;
}

.phone span img {
    vertical-align: middle;
}

.text_title {
    line-height: 2em;
    background: #e6e6e6;
    text-align: center
}

.text_title h1 {
    color: #04816f;
    font-size: 1.1em;
    font-weight: normal;
}

.text_title p {
    color: #333;
}

.text_main {
    width: 85%;
    padding: 2% 0
}

.text_main p {
    line-height: 2em;
    /*color: #333;*/
    /*text-align: left;*/
    margin-top: 2%;
    /*font-size: .9em;*/
    text-align: justify;
    text-indent: 2em;
    line-height: 1.7em;
    /*word-spacing: 0.05em;*/
}

.text_main p span {
    font-weight: bold;
}

/*For Article Pages Custom*/
.effect-gif{
    text-align: center;
}

.blue-gif{
    color: #00a3bb;
    font-weight: bold;
}

.blue-second-gif{
    color: #0077cc;
    font-weight: bold;
}

.red-gif{
    color: red;
    font-weight: bold;
}

.div_p .pic {
    width: 60%
}

.div_p .p_a .server {
    color: #04816f;
    margin: 0 2% 0 2%
}

/*.height-ov{
    height: 40px;
}*/
.square-color{
    /*background-color: silver;*/
    max-width: 640px;
    left: auto;
    right: auto;
}

.square-color a {
    display: inline-block;
    width: 35%;
    max-height: 30px;
    line-height: 2.0em;
    text-align: center;
    color: #fff;
    margin-left: 7%;
    margin-right: 7%;
    /*margin-left: 50px;*/

    margin-top: 25px;
}

.btn-old a {
    display: inline-block;
    width: 40%;
    max-height: 30px;
    line-height: 2.0em;
    text-align: center;
    color: #fff;
    margin-left: 7%;

    margin-top: 5%;
}

.txt_title {
    background: #02816c;
    height: 44px;
    line-height: 44px;
    color: #fff;
    padding-left: 2%;
}

.txt_li {
    width: 90%;
}

.txt_li .txt_li_ul li {
    border-bottom: 1px dotted #dedede;
    line-height: 2em;
    padding: 1% 0;
}

.txt_li .txt_li_ul li span {
    color: #333;
}

.txt_li .txt_li_ul li a {
    color: #9f6f06;
}

.home_top {
    padding-bottom: 10px
}

.home_top ul li {
    width: 50%;
    text-align: center;
    float: left
}

.home_top ul li img {
    vertical-align: middle;
    margin-right: 5px;
}

.auto {
    margin: 0 auto;
}

.li-wrap {
    position: relative;
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    background: #f3f4f6;
}

.li-title {
    background: url(../images/li-title.jpg) repeat-x;
    height: 60px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    line-height: 60px;
}

.zjjs-main .p-doc {
    background: url(../images/ly_line.jpg) repeat-x bottom;
    padding: 2% 0;
    text-align: center;
    font-size: .89em;
    color: #8e0016
}

.zjjs-main .p-doc a {
    color: #005b46;
    text-decoration: underline;
}

.p-address {
    padding: 1% 2% 1% 5%;
}

.p-address li {
    display: inline-block;
    width: 24%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    background: #01826c;
    margin-top: 1%;
}

.p-address ul li.active {
    background: #F0B600;
    cursor: pointer;
}

.p-address input {
    width: 99%;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    height: 80px;
}

.ly-mian p {
    line-height: 2em;
    color: #666666;
    font-size: .9em;
    background: url(../images/ly_line.jpg) repeat-x bottom;
    padding: 1% 2% 1% 5%;
    overflow: hidden;
}

.ly-mian p a {
    display: block;
    width: 46%;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #6cd1c5;
}

.ly-mian .p-tit {
    text-align: center;
}

.ly-mian .p-tit span {
    font-size: 1.2em;
    color: #8d0000;
}

.ly-mian p img {
    padding: 1%;
    background: #fff;
    border: 1px solid #c1b6b6;
}


/*zj*/

.doctor {
    padding: 1% 2% 1% 5%
}

.doctor li {
    background: url(../images/ly_line.jpg) repeat-x bottom;
}

.doctor li .doc-l {
    width: 30%;
}

.doctor li .doc-l img {
    padding: 2%;
    border: 1px solid #ece7e4;
    background: #fff;
}

.doctor li .doc-r {
    width: 65%;
    margin-left: 5%
}

.doctor li .doc-r p {
    line-height: 1.8em;
    color: #676767;
}

.doctor li .doc-r .p-btn {
    margin-top: 3%
}

.doctor li .doc-r p span {
    color: #005744
}

.doctor li .doc-r p a {
    display: inline-block;
    width: 30%;
    color: #3e3e3e;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.doctor li .doc-r p .zx {
    background-image: -moz-linear-gradient(top, #f79006, #ef7200);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f79006), color-stop(1, #ef7200));
    border: 1px solid #eb6100;
}

.doctor li .doc-r p .yt {
    background-image: -moz-linear-gradient(top, #0ecca4, #029372);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0ecca4), color-stop(1, #029372));
    border: 1px solid #005542;
}

.doctor li p {
    color: #676767;
    line-height: 1.8em
}

.doctor .pj {
    height: 35px;
    background: #70d1c6;
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.doctor .pj-a {
    padding-bottom: 3%
}

.doctor .pj-a a {
    display: inline-block;
    text-align: center;
    height: 28px;
    line-height: 28px;
    padding: 2% 1.08%;
    color: #fff;
}

.look {
    background: #d5eff3;
    padding: 5% 2% 1% 5%
}

.look-l {
    width: 75%;
}

.look-l .p1 {
    color: #55a0ac;
    font-size: .89em;
}

.look-l .p2 {
    background: #56a0ac;
    color: #fff;
    font-size: .89em;
}

.look-l .p3 {
    color: #7c7206;
    font-size: .89em;
}

.look-r {
    width: 20%;
    margin-left: 5%;
}

.look-r a {
    display: block;
    background: #56a0ac;
    color: #fff;
    text-align: center;
    padding: 20% 2%;
}








/*tsjs*/

.b-f {
    background: #fff;
}

.js_a {
    padding: 1% 3% 3% 5%;
    background: url(../images/ly_line.jpg) repeat-x bottom;
}

.js_a a {
    width: 23%;
    display: inline-block;
    color: #fff;
    text-align: center;
    height: 52px;
    line-height: 52px;
    margin-top: 1%
}

.js-main {
    padding: 0% 3% 3% 5%;
    background: url(../images/ly_line.jpg) repeat-x bottom;
}

.js-main-b {
    background: url(../images/ly_line.jpg) repeat-x bottom #fff;
}

.js-main-l {
    background: url(../images/p_line.jpg) repeat-y right;
    padding-top: 2%;
    width: 39%
}

.js-main-l img {
    margin-top: 10px;
}

.js-main-l .p4 {
    color: #00624b;
}

.js-main-l .p5 {
    color: #535353;
}

.js-main-l .p4 .ss {
    display: inline-block;
    background: #005744;
    width: 3px;
    height: 23px;
    margin-right: 2px;
    vertical-align: middle;
}

.js-main-l .p4 .v img {
    vertical-align: middle;
    border: none;
    margin: 0;
}

.js-main-l img {
    padding: 2%;
    border: 1px solid #d5dbdb;
}

.js-main .js-main-r {
    width: 61%;
}

.js-main .js-main-r p {
    background: url(../images/ly_line.jpg) repeat-x bottom;
    line-height: 2.1em;
    color: #868686;
    padding-left: 5%;
    padding-bottom: 2%
}

.js-main .js-main-r p img {
    vertical-align: middle;
    margin-right: 8px;
}

.js-btn {
    padding: 1% 3% 3% 5%;
}

.js-btn a {
    width: 49%;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: .80em
}

.js-btn .a-1 {
    background: #c7e1b2;
    color: #40582d;
}

.js-btn .a-2 {
    background: #70d1c6;
    color: #195b53
}


/*yyjj*/

.jjzt-warp {
    background: #fff;
}

.bq {
    padding: 1% 3% 1% 5%;
}

.bq-l {
    width: 15%;
    background: #01653c;
    text-align: center;
    padding: 3% 1%;
    height: 128px;
    color: #fff;
}

.bq-l img {
    vertical-align: middle;
    margin-bottom: 10px;
}

.bq-r {
    width: 81%;
    margin-left: 1.5%
}

.bq-r ul li {
    float: left;
    width: 31%;
    height: 70px;
    margin: 1%;
    position: relative
}

.bq-r a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 2%;
}

.t-fred {
    text-align: center;
    color: #ff0000;
    font-size: 1em;
}

.t-fred a {
    color: #ff0000;
    font-size: 1em;
    text-decoration: underline;
}

.li-tit {
    background: #f3f2f2;
    border-bottom: 4px solid #01653c;
    padding: 1% 3% 1% 6%;
}

.li-tit p {
    line-height: 2em;
}

.li-tit img {
    margin-left: 30px
}

.li-tit-p1 {
    color: #666;
    font-size: .89em;
}

.li-tit-p2 {
    color: #666;
    font-weight: bold;
    font-size: 1em;
}

.li-main {
    padding: 1% 3% 1% 5%;
}

.li-main .p-txt {
    text-indent: 2em;
    line-height: 1.8em;
    color: #8f8f8f;
    font-size: .89em;
}

.li-main .j-tit {
    color: #fba1a1;
    font-size: .89em;
    font-weight: 600;
}

.li-main .j-tit img {
    margin-right: 5px;
    vertical-align: middle;
}

.li-main .j-tit2 {
    color: #1c7167;
}

.li-main .time li {
    width: 100%;
    border: 1px solid #c7e1b3;
    height: 75px;
    margin-top: 5px;
}

.li-main .time li .time-l {
    width: 30%;
    background: #c7e1b3;
    height: 75px;
    text-align: center
}

.li-main .time li .time-l p {
    color: #fff;
}

.li-main .time li .time-r {
    width: 65%;
    color: #8ead76;
    line-height: 1.8em;
    font-size: .89em;
    padding-left: 4%
}

.li-main .bl-p a {
    width: 50%;
    text-align: center;
    color: #01653c;
    text-decoration: underline;
}

.li-award ul li {
    float: left;
    width: 24%;
    margin-left: 1%
}

.f-p {
    text-align: center
}

.f-p p {
    line-height: 2em;
    border-bottom: 1px dotted #e5e5e5;
    color: #70d1c6;
}

.f-p p img {
    margin-right: 20px;
    vertical-align: middle
}

.six-js {
    padding: 1% 3% 1% 5%;
}

.six-js ul li {
    float: left;
    width: 32%;
    height: 84px;
}

.six-js ul li a {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: .85em;
    height: 100%
}

.six-js ul li a span {
    font-size: 1.1em;
}

.li-doctor {
    padding: 1% 3% 1% 5%;
}

.li-doc-l {
    width: 70%;
}

.li-doc-l ul li {
    width: 23%;
    margin-left: 1%;
    text-align: center;
    font-size: .75em;
    float: left;
}

.li-doc-l ul li p {
    color: #666;
    font-size: .6em;
}

.li-doc-l ul li p a {
    color: #666;
}

.li-doc-r {
    width: 25%
}

.li-doc-r p a {
    display: block;
    color: #fff;
    width: 100%;
    font-size: .80em;
    padding: 2% 3%;
    height: 37px;
    line-height: 37px;
    text-align: center
}

/*************by 2015 0605*************/

#sunpage li {
    display: inline-block;
    padding: 3px;
}

#sunpage li a,
#sunpage li span {
}



.zj_nav {

    height: auto;

    margin-top: 3%;

    overflow: hidden;

    text-align: center;

    width: 86%;
}



.zj_nav ul {

    height: auto;

    width: 100%;
}



.zj_nav ul li {

    float: left;

    font-size: 0.85em;

    height: auto;

    line-height: 35px;

    text-align: center;

    width: 33.3%;
}



.zj_nav ul li p {

    padding-bottom: 3%;

    padding-top: 1%;
}



.zj_nav ul li a {

    color: #545454;
}



.zj_nav ul li img {

    width: 96%;
}



/*For Blue Form */
.fm-bl{
    width: 100%;
}


.djswt-l{
    background: #fff;
    width: 70%;
    font-size: 80%;
    /*padding: 0;*/
}

.djswt-r{
    background: #0077cc;
    color: #fff;
    width: 30%;
    font-size: 80%;
    /*margin-right: 20px;*/
    /*padding: 0;*/
}




/*Mobile*/
@media screen and (max-width: 348px) {
    .xgnzx .tel ul .li-r{
        font-size: 70%;
    }

    .xgnzx .tel ul .li-l{
        font-size: 70%;
    }
}

@media screen and (min-width:480px) {
    #page_wrap {
        font-size: 21px
    }

    .li-wrap {
        font-size: 21px
    }
}

@media screen and (min-width:640px) {
    #page_wrap {
        font-size: 24px
    }

    .li-wrap {
        font-size: 24px
    }
}
