.white-text{
	color: #fff;
}

.white-bg{
	background-color: #fff;
}


.blue-low-text{
	color: #00a3bb;
}

.blue-low-bg{
	background: #00a3bb;
}

.blue-middle-text{
	color: #1194f6;
}

.blue-middle-bg{
	background: #1194f6;
}

.blue-strong-text{
	color: #0077cc;
}

.blue-strong-bg{
	background: #0077cc;
}

.red-text{
	color: red;
}

.black-text{
	color: black;
}

.brown-text{
	color: brown;
}

.brown-bg{
	background-color: brown;
}

.text-justify{
	text-align: justify;
}

.text-indent{
	text-indent: 0.3in;
}


/*for space paragraf & title*/
.mt-1{
	margin-top: -10px;
}

.mb-1{
	margin-bottom: -10px;
}

.p-0{
	padding: 0;
}

.pt-1{
	padding-top: -10px;
}

.pb-1{
	padding-bottom: -10px;
}


/*size-font*/
.font-l{
	/*font-size: 18px;*/
	/*font-family: calibri;*/

}


/*align*/
.text-justify{
	text-align: justify;
}

.bold-text{
	font-weight: bold;
}

/*Limkchat color*/
.blue-old-text{
	color: #3856bc;
}

.blue-old-bg{
	background-color: #3856bc;
}

.orange-middle-text{
	color: #ff6e5d;
}

.orange-middle-bg{
	background-color: #ff6e5d;
}

.orange-strong-text{
	color: #c4560d;
}

.orange-strong-bg{
	background-color: #c4560d;
}

.green-middle-text{
	color: #4cc303;
}

.green-middle-bg{
	background-color: #4cc303;
}

.green-strong-text{
	color: #00ab79;
}

.green-strong-bg{
	background-color: #00ab79;
}



/*main-table-index*/
.main-table-index{
	/*max-width: 320px;*/
	/*margin: auto 20px;*/
	/*padding: 20px;*/
	/*font-size: 80%;*/
	padding: 3% 5%;
}

.phone-wd{
	width: 100%;
    height: auto;
    max-width: 640px !important;
    min-width: 240px;
    font-family: "Microsoft YaHei";
    margin: auto;
}


/*For Mobile*/
/*Media Screen*/
@media screen and (max-width:160px) {
	.phone-wd{
		max-width: 160px !important;
	}
}

@media screen and (max-width:180px) {
	.phone-wd{
		max-width: 180px !important;
	}
}

@media screen and (max-width:190px) {
	.phone-wd{
		max-width: 190px !important;
	}
}

@media screen and (max-width:210px) {
	.phone-wd{
		max-width: 210px !important;
	}
}

@media screen and (max-width:240px) {
	.phone-wd{
		max-width: 240px !important;
	}
}

@media screen and (max-width:260px) {
	.phone-wd{
		max-width: 260px !important;
	}
}

@media screen and (max-width:280px) {
	.phone-wd{
		max-width: 280px !important;
	}
}

@media screen and (max-width:319px) {
	.phone-wd{
		max-width: 319px !important;
	}
}

@media screen and (max-width:320px) {
	.phone-wd{
		max-width: 320px !important;
	}
}

@media screen and (max-width:358px) {
	.phone-wd{
		max-width: 358px !important;
	}
}

@media screen and (max-width:360px) {
	.phone-wd{
		max-width: 360px !important;
	}
}

/*@media screen and (max-width:375px) {
    .phone-wd{
		max-width: 375px !important;
	}
}*/

@media screen and (max-width:414px) {
    .phone-wd{
		max-width: 414px !important;
	}
}

@media screen and (max-width:480px) {
    .phone-wd{
		max-width: 480px !important;
	}
}

/*@media screen and (max-width:600px) {
    .main_box {
        font-size: 22.5px
    }
}*/

/*@media screen and (max-width:640px) {
    .main_box {
        font-size: 24px
    }
}*/